@import "tailwindcss";

@keyframes scrolling-data {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.animate-scrolling-data {
  animation: scrolling-data 20s linear infinite;
}

@keyframes loading-status {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-loading-status {
  animation: loading-status 2s ease-in-out infinite;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
